.contact {
  margin-left: 80px;
  background-color:var(--main-color);
  background-color: #1f2938;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  h3{
    text-align: center;
  }

  .contact-form {
    padding: 50px;
    display: grid;
    justify-content: space-between;

    .social-contact {
      ul{
            display: flex;
            justify-content: center;
            gap: 50px;
            list-style: none;
            padding: 0;

        svg{
          font-size: 22px;
        }
      }
    }
  }

  .social-contact ul li:hover{
    svg{
      color: white;
    }
  }

  .contact-form input,textarea {
    padding: 15px;
    width: 350px;
    margin-top:20px;
    outline: none;
    border: none;
    background-color: #1c2337;
    color: #fff;
  } 

  .contact-form input:hover,.contact-form textarea:hover {

    border-bottom: 1px solid #ff6252;
  }
  .contact-img{
    padding: 50px 100px 50px 0;
  }
  .contact-img img {
    opacity: 60%;
  }
}

@media(max-width:767px){
  .contact{
    height: auto;
    padding-top: 50px;
    max-height:500vh;
    margin-left: 0;

    h3 {
      margin-bottom: 10px;
    }

    .contact-form {
      text-align: center;
    }
  }

  .contact-img {
    display: none;
  }
}